{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}

<h1>О нас</h1>
<section id="features" class="bg-lighter">
      <div class="container">
        <div class="section-title">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-uppercase font line-bottom line-height-1 mt-0 mb-0">Почему другие выбирают наш клуб</h3>
            </div>
          </div>
        </div>
        <div class="row mtli-row-clearfix equal">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
              <div class="icon icon-dark pull-left flip mb-0 mr-0 mt-5">
                <i class="flaticon-horseman-monuments"></i>
              </div>
              <div class="icon-box-details">
                <h4 class="icon-box-title m-0">Профессиональные тренеры</h4>
                <p class="text-gray font-13 mb-0">С вами будут работать инструкторы, лучшие в своем деле</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
              <div class="icon icon-dark pull-left flip mb-0 mr-0 mt-5">
                <i class="flaticon-horseman-black-3"></i>
              </div>
              <div class="icon-box-details">
                <h4 class="icon-box-title m-0 mb-0">Наработанная методика</h4>
                <p class="text-gray font-13 mb-0">Мы занимаемся обучение верховой езде уже более 16 лет </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
              <div class="icon icon-dark pull-left flip mb-0 mr-0 mt-5">
                <i class="flaticon-horseman-animals"></i>
              </div>
              <div class="icon-box-details">
                <h4 class="icon-box-title m-0 mb-5">Здоровые лошади</h4>
                <p class="text-gray font-13 mb-0">Мы заботимся о своих лошадях! В Клубе работает опытный ветеринар.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
              <div class="icon icon-dark pull-left flip mb-0 mr-0 mt-5">
                <i class="pe-7s-cash"></i>
              </div>
              <div class="icon-box-details">
                <h4 class="icon-box-title m-0 mb-5">Самые низкие цены</h4>
                <p class="text-gray font-13 mb-0">Не смотря на близость к центру, цены самые низкие в городе.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
              <div class="icon icon-dark pull-left flip mb-0 mr-0 mt-5">
                <i class="flaticon-horseman-national-september-11-memorial-museum"></i>
              </div>
              <div class="icon-box-details">
                <h4 class="icon-box-title m-0 mb-5">Современное оборудование</h4>
                <p class="text-gray font-13 mb-0">У нас есть площадки на любой случай: спортивная езда, прогулки, обучение.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
              <div class="icon icon-dark pull-left flip mb-0 mr-0 mt-5">
                <i class="fa fa-bus"></i>
              </div>
              <div class="icon-box-details">
                <h4 class="icon-box-title m-0 mb-5">Выгодное расположение</h4>
                <p class="text-gray font-13 mb-0">Мы находимся в живописной парко- вой зоне в 10 минутах езды от центра.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}